h1 {
    font-family: 'Lobster', cursive;
}

.item {
   text-align: 200px;
   border-radius: 100%;
   height: 240px;
   width: 240px;
}

img {
    border-style: none;
    border-radius: 100%;
    filter: grayscale(0);
}
.container:hover{
    filter: grayscale(1);
    border-style: none;
    border-radius: 100%;
    transition: background-size 0.3s ease;
    filter: grayscale(1);
    transition: background-size 0.3s ease; 
}

 body {
     text-align: center;
     background-image: linear-gradient(to right, red 5%, coral 50%, yellow 90%, white 100%);
 }

 .change:hover {
    background-color: white;
    box-sizing: border;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    inline-size: 50px;
    transition: background-size 0.3s ease;
    filter: grayscale(1);
    transition: background-size 0.3s ease;
}

li :hover {
    background-color: crimson;
}

li a{
    width: 20%;
    background-color: white;
    padding: 10px;
}